@model CreateUserRegisterDTO

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Yeni Kullanıcı Kaydı</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="/colorlib-regform-31/css/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="/colorlib-regform-31/fonts/font-awesome-5/css/fontawesome-all.min.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="/colorlib-regform-31/css/style.css" />

	<style>
		.text-danger {
		  color: #e74c3c;
		  font-size: 0.9rem;
		  margin-top: 4px;
		  display: block;
		}
	</style>
</head>
<body class="form-v5">
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="#" method="post">
				<h2>Movie API Yeni Kullanıcı Kaydı</h2>
				<div class="form-row">
					<label for="full-name">Adınız</label>
					<input type="text" asp-for="Name" id="full-name" class="input-text" placeholder="Adınız" required>
					<i class="fas fa-user"></i>
				</div>
				<div class="form-row">
					<label asp-for="Surname">Soyadınız</label>
					<input type="text" asp-for="Surname" class="input-text" placeholder="Soyadınız" required>
					<i class="fas fa-user"></i>
				</div>
				<div class="form-row">
					<label asp-for="UserName">Kullanıcı Adı</label>
					<input type="text" asp-for="UserName" class="input-text" placeholder="Kullanıcı Adı" required>
					<i class="fas fa-user-circle"></i>
				</div>
				<div class="form-row">
					<label asp-for="Email">E-posta Adresiniz</label>
					<input type="email" asp-for="Email" id="your-email" class="input-text" placeholder="E-posta adresiniz" required>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label asp-for="Password">Şifreniz</label>
					<input type="password" asp-for="Password" id="password" class="input-text" placeholder="Şifreniz" required>
					<i class="fas fa-lock"></i>
				</div>
				<div class="form-row-last">
					<input type="submit" class="register" value="Kayıt Ol">
				</div>
				<!-- Genel hata mesajlarını göstermek için -->
				<div>
					<span asp-validation-summary="ModelOnly" class="text-danger"></span>
				</div>
			</form>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.5/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>